<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="fragments/head :: head(${pageTitle})"></head>
<body>
<div id="sidebarBackdrop" data-action="close-mobile-sidebar"></div>
<div id="app">
<aside th:replace="fragments/sidebar :: sidebar(${nav})"></aside>
<div id="mainCol">
<header th:replace="fragments/header :: header"></header>
<main id="pageContent">
<div th:replace="fragments/alerts :: flash"></div>
    <div class="page-header">
      <div>
        <div class="breadcrumb">Authum IT Nexa / <span th:text="${pageTitle}">Page</span></div>
        <h1 th:text="${pageTitle}">Page</h1>
      </div>
    </div>
    <div th:replace="fragments/alerts :: empty(title=${pageTitle}, body=${emptyMessage})"></div>

</main>
</div>
</div>
<div th:replace="fragments/modal :: modal"></div>
<th:block th:replace="fragments/scripts :: scripts"></th:block>
</body>
</html>
