<div class="modal-overlay" id="modalOverlay" xmlns:th="http://www.thymeleaf.org" th:fragment="modal" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
    <div class="modal-box" id="modalBox">
        <div class="modal-head">
            <h3 id="modalTitle">Dialog</h3>
            <button type="button" class="modal-close" onclick="closeModal()" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="modal-body" id="modalBody"></div>
        <div class="modal-foot" id="modalFoot"></div>
    </div>
</div>
